
/*Imported Fonts so I don't forget the css for them

font-family: 'Gemunu Libre', sans-serif;
font-family: 'Stick No Bills', sans-serif;



All */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Gemunu Libre', sans-serif;
}


/* Header */

/* Body */

body{
    background: linear-gradient(rgba(0,0,0,0.2),#000000), url(images/main-background.jpg); 
    background-size: cover;
    background-position: center;
    height:100vh;
}

/* Navigation Bar */

/* Main Nav Bar Parent */
.mainnavbar{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items:center;
    background-color:black;
    background: linear-gradient(rgba(255, 255, 255, 1.5),#090514);
    background: linear-gradient(rgb(149, 147, 155),#000000);
    box-shadow:black 1px 1px 1px 1px;
}

/* Navigtion Bar Company Name "dataDyne" */
.company-name{
    margin: 1rem;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    font-size: 45px;
    background: linear-gradient(rgba(155, 255, 255, 0.3),#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
#company-slogan{
    font-size: 21px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(69, 128, 67),#fdfdfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

/* Navigation Bar Links  */

.navlinks ul{
    margin:0;
    padding:0;
    display:flex;
    
}

.navlinks li{
    list-style:none;
}

.navlinks li a{
    text-decoration:none;
    color:white;
    display:block;
    padding:1rem;
    
}
/* Navigation Links Animations  */

.navlinks li:hover{
    background-color: gray;
    background: linear-gradient(rgb(149, 147, 155),#000000);
    border-radius:8px;
    
    
}
/* The idea here is to hide the hamburger when the screen size is large enough, I could use
a class here but I might want to animate the individual bars later on */
.hamburger{
    position:absolute;
    top:2rem;
    right:2rem;
    flex-direction:column;
    display:none;
    justify-content:space-evenly;
    width: 27px;
    height: 25px;
}

#topbun{
    height:2px;
    width:100;
    background-color:white;
    border-radius:5px;
    
}
#lettuce{
    height:2px;
    width:100;
    background-color:white;
    border-radius:5px;
    
}
#meatncheese{
    height:2px;
    width:100%;
    background-color:white;
    border-radius:5px;
    
}
#bottombun{
    height:2px;
    width:100%;
    background-color:white;
    border-radius:5px;
}
/* Media Query to hide/unhide mobile hamburger button and the navigation bar. Also
adjusts the navigation bar and the list to stack vertically in a column instead of
in a row. */

@media (max-width: 400px) {
    .hamburger {
        display:flex;
    }
    .mainnavbar {
        flex-direction:column;
        
    }
    .navlinks ul{
        flex-direction:column;
    }
    
    
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
