
/*           Imported Fonts

font-family: 'Gemunu Libre', sans-serif;
font-family: 'Stick No Bills', sans-serif;
font-family: 'Poppins', sans-serif;

All */ 
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration:none;
}
/* Header */
/* Home Page + Navigation Bar for All Pages */
body.index{
    background: url(images/main-background.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
}
.index-content-top{
    font-family: 'Poppins', sans-serif;
    position:absolute;
    display:flex;
    flex-direction:column;
    top:45%;
    left:50%;
    text-align:center;
    transform: translate(-50%, -50%);
    color:black;
    border-radius:15px;
}
.index-content-top h1{
    font-size:30px;
}
.index-content-top p{
    text-decoration:none;
    margin:15px 0 30px;
    font-size:20px;
}
.index-content-top p a{
    text-decoration:none;
    text-transform:bold;
}
.view-bestseller-btn{
    text-decoration:none;
    border:3px solid black;
    padding:5px;
    font-size:15px;
    background:transparent;
    border-radius:1px;
    cursor:pointer;
    transition: all 0.5s ease 0s;
}
.view-bestseller-btn:hover{
    text-decoration:none;
    border:3px solid rgb(0, 0, 0);
    background:rgb(0, 0, 0);
    transition:1s;
}
.index-content-top a:hover{
    text-decoration:none;
    color:rgb(247, 163, 7);
}
.index-product-feature h1{
    padding-top:40px;
}
body.featured{
    background-image: linear-gradient(rgba(230, 220, 220, 0.2),#a1b6c7), url(images/Joana.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
}





/* Navigation Bar */
/* Main Nav Bar Parent */
.mainnavbar{
    display:inline-flex;
    color: white;
    width:100%;
    justify-content:space-evenly;
    padding:5px;
    align-items:center;
    background-color:black;
    background: linear-gradient(rgb(49, 49, 49),#000000);
    box-shadow:black 1px 1px 1px 1px;
}
/* Navigtion Bar dataDyne Logo Image +*/
#company-logo{
    content:url(images/mainLogo.png);
    width:100px;
    height:100px;    
}
/* Styling for individual name / slogan matching backgrounds
INDEX +*/

#company-slogan-index{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 40px;
    margin-right:10rem;
    background: linear-gradient(rgb(66, 66, 66),#d8d8d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.company-name-index{
    margin: 1rem;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    font-size: 40px;
    background: linear-gradient(rgba(179, 177, 177, 0.3),#e4e5e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
            /* Styling for individual name / slogan matching backgrounds
                        k7 +*/
.company-featured{
    margin: 1rem;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    font-size: 40px;
    background: linear-gradient(rgba(197, 197, 197, 0.3),#6497a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
#company-slogan-featured{
    margin: 1rem;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: bold;
    font-size: 40px;
    background: linear-gradient(rgba(197, 197, 197, 0.3),#a3641b);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}





                    /* Navigation Bar Links  */

.navlinks ul{
    margin:0;
    padding:0;
    display:flex;
    
}

.navlinks li{
    list-style:none;

}

.navlinks li a{
    text-decoration:none;
    color:rgb(230, 230, 230);
    display:block;
    padding:1rem;
    
    
}
                /* Navigation Links Animations  */


.navlinks {
    cursor:pointer;
}
.navlinks li a{
    transition: all 0.5s ease 0s;
}
.navlinks li a:hover {
    color:rgb(247, 163, 7);
}
            /* White line animation under link hover */

.navlinks ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: white;
    display:block;
    margin:auto;
    transition:0.3s;
}
.navlinks ul li:hover::after{
    width:75%;
}
    
            /* Hide the hamburger icon when the screen size is beyond mobile */
.hamburger{
    position:absolute;
    top:2rem;
    right:2rem;
    flex-direction:column;
    display:none;
    justify-content:space-evenly;
    width: 27px;
    height: 25px;
}

.lines{
    height:2px;
    width:100;
    background-color:white;
    border-radius:5px;
}

                    /* Index Featured Text Section */
.product-feature{
    padding:15px;
    margin-top:55px;
    color:rgb(187, 186, 186);
    font-family: 'Stick No Bills', sans-serif;
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size:45px;
}
.product-feature p{
    font-family: 'Poppins', sans-serif;

}
.featured-row div{
    justify-content:center;
    display:flex;
    width:100%;
    padding:20px;
    font-family: 'Stick No Bills', sans-serif;
}


/* Footer for every page */

.footer {
    
    
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
    
}

/* Featured Page CSS */
/* Featured Page Image Gallery */

@media(min-width: 1080px){

.gallery-container{
    border:black 3px solid;
    max-width:50%;
    position: relative;
    margin:auto;
    margin-top:2%;
}
.fader {
    display:hidden;
}
.back, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
    right:0;
    border-radius: 3px 0 0 5px;

}
.back:hover, .next:hover {
    background-color: rgba(250, 79, 0, 0.918);
}

.image-text {
    color: #1f303d;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 45px;
    padding: 15px 10px;
    position: relative;
    text-align:center;
}
.textnumber {
    color:rgb(8, 8, 8);
    font-size:15px;
    padding:5px 5px;
    position:absolute;
    top:0;
}
.circle{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 22px 22px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition:background-color 0.6s ease;
}
.active, .circle:hover{
    background-color: #c57103;
}
.allImages{
    -webkit-animation-name: fader;
    -webkit-animation-duration: 1.5s;
    animation-name: fader;
    animation-duration: 1.5s;
}
.fader{
    -webkit-animation-name: fader;
    -webkit-animation-duration: 1.5s;
    animation-name: fader;
    animation-duration: 1.5s;
}
@-webkit-keyframes fader{
    from {opacity: .10}
    to {opacity: 1}
}
@keyframes fader{
    from {opacity: .10}
    to {opacity: 1}
}
}





/* Ipad size media query */
@media (max-width: 810px) {

     
    .hamburger {
    display:flex;
}
    .mainnavbar {
    flex-direction:column; 
}
    .mainnavbar{
     display:flex;
    align-items:center;
    justify-content:center;
}
    .navlinks {
    display:none;
    width:100%;
        
}
    .navlinks ul{
    width:100%;
    flex-direction:column;
}
    .navlinks li{
    text-align:center;
}
.navlinks li a{
    padding:.5rem;
}
.navlinks.active{
    display:flex;
}
    /* Adjust white line under nav links when at 810px */
.navlinks ul li:hover::after{
    width:80px;
}
    /* Have to change the color on the nav menu drop down because the gradient looks terrible on mobile */
.navlinks {
    cursor:pointer;
}
.navlinks li a{
    transition: all 0.5s ease 0s;
} 
.navlinks li a:hover {
    color:rgb(137, 255, 1);
}
    
.index-content-top{
    color:rgb(207, 207, 207);
    background:rgb(105, 105, 105);
    width:100%;
    margin-top:85px;
    display:flex;
    justify-content:space-evenly;
    padding-top:5px;
    align-items:center;
    background-color:black;
    background: linear-gradient(rgb(0, 0, 0),#000000);
    background: linear-gradient(rgb(66, 66, 66),#000000);
    box-shadow:black 5px 5px 5px 5px;
}
.index-product-feature h1{
    padding-top:40px;
        
}
.index-content-top h1{
    font-size:25px;
}
    .view-bestseller-btn{
    text-decoration:none;
    border:3px solid black;
    padding:5px;
    font-size:15px;
    background:transparent;
    border-radius:1px;
    cursor:pointer;
    transition: all 0.5s ease 0s;
}
.view-bestseller-btn:hover{
    text-decoration:none;
    border:3px solid rgb(88, 88, 88);
    background:rgb(212, 212, 212);
    transition:1s;
}
.index-content-top a:hover{
    text-decoration:none;
    color:rgb(0, 0, 0);
}
.footer {
    
    
    display:flex;
    align-items:center;
    justify-content:center;
    background: linear-gradient(rgba(197, 197, 197, 0.3),#6497a7);
    border:black 3px solid;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
    
}
.footer a{
    padding:0px;
    margin-top:5px;
    
    
    
    
}
}
/* Image Gallery Slider for 810*/

/* Featured Page Change Image Sizes */



/* Media Query to hide/unhide mobile hamburger button and the navigation bar. Also
adjusts the navigation bar and the list to stack vertically in a column instead of
in a row. */

/* Media query for Iphone 12/13 max Pro */

@media (max-width: 428px) {
     
    .hamburger {
        display:flex;
    }
    .mainnavbar {
        flex-direction:column; 
    }
    .mainnavbar{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .navlinks {
        display:none;
        width:100%;
        
    }
    .navlinks ul{
        width:100%;
        flex-direction:column;
    }
    .navlinks li{
        text-align:center;
    }
    .navlinks li a{
        padding:.5rem;
    }
    .navlinks.active{
        display:flex;
    }
    /* Adjust white line under nav links when at 375px */
    .navlinks ul li:hover::after{
        width:80px;
    }
    /* Have to change the color on the nav menu drop down because the gradient looks terrible on mobile */
     .navlinks {
        cursor:pointer;
    }
    .navlinks li a{
        transition: all 0.5s ease 0s;
    } 
    .navlinks li a:hover {
        color:rgb(0, 0, 0);
     }
    /* Remove company logo because it looks terrible on mobile imo */
    #company-logo{
        display:none;
    }
    .index-content-top{
        color:rgb(207, 207, 207);
        background:rgb(105, 105, 105);
        width:100%;
        margin-top:85px;
        display:flex;
        justify-content:space-evenly;
        padding-top:5px;
        align-items:center;
        background-color:black;
        background: linear-gradient(rgb(0, 0, 0),#000000);
        background: linear-gradient(rgb(66, 66, 66),#000000);
        box-shadow:black 5px 5px 5px 5px;
    }
    .index-product-feature h1{
        padding-top:40px;
        
    }
    .index-content-top h1{
        font-size:25px;
    }
    .view-bestseller-btn{
    text-decoration:none;
    border:3px solid black;
    padding:5px;
    font-size:15px;
    background:transparent;
    border-radius:1px;
    cursor:pointer;
    transition: all 0.5s ease 0s;
}
.view-bestseller-btn:hover{
    text-decoration:none;
    border:3px solid rgb(88, 88, 88);
    background:rgb(212, 212, 212);
    transition:1s;
}
.index-content-top a:hover{
    text-decoration:none;
    color:rgb(0, 0, 0);
}


}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */